* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body{
  overflow-x: hidden;
}


input {
  border-radius: 4px;
  border: rgb(46,50,56, 0.2) solid 1px;
  background-color: rgb(213,216,221, 0.2);
  height: 32px;
  outline: none;
  padding: 6px 8px;
  color: rgba(46, 50, 56, 1);
}

button {
  border-radius: 4px;
  border: rgb(46,50,56, 0.2) solid 1px;
  padding: 6px;
  &.square{
    width: 32px;
    height: 32px;
  }
  &:hover{
    cursor: pointer;
  }
}

.app__content{
  display: flex;
  height: 100%;
  position: relative;
}

@media(max-width: 1200px){
  button.square{
    margin-left: 5px;
  }
}